
@media only screen and (max-width: 600px) {

  #maindiv {
    margin-left: 10em;
    margin-right: 10em;
    line-height: 2vw;
  }
}
.aboutmeBox {
  padding-top: 50px;
  padding-bottom: 2vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#maindiv {
  margin-left: 10em;
  margin-right: 10em;
  line-height: 2vw;
}
.imgAbout {
  border-radius: 50%;
  max-width: 20%;
}

#Title {
  font-family: "Playfair Display", serif;
  font-size: 3vw;
}

#Contact {
  font-family: "Playfair Display", serif;
  font-size: 2vw;
}

a {
  color: grey;
  text-decoration: none;
}


hr {
  width: 100px;
  background-color: gray;
}
